
<ion-header>
  <ion-toolbar>
    <ion-title class="title">Recover Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid id>
    <ion-row>
      <ion-col text-center>
        <img src="../assets/candado.svg">
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-list>
    <ion-item>
      <ion-label text-center position="floating">Correo electrónico</ion-label>
      <ion-input text-center clearInput class="text" [(ngModel)]="email">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    class="text capitalize"
    color="secondary"
    shape="round"
    (click)="resetPassword()">
    Aceptar
  </ion-button>

  <ion-button
    expand="block"
    class="text capitalize"
    color="secondary"
    shape="round"
    href="/login">
    Cancelar
  </ion-button>
</ion-content>