ion-item{
    --ion-background-color:#90EE90;
    opacity:0.8 ;
    
 }
 ion-list{
    --ion-background-color:#90EE90;
    opacity:0.8 ;
    
 }
ion-content {
    --background: url('/assets/fondo.jpg') no-repeat ;}

