.image-item { object-fit: cover; width: 40vw; height: 40vw; padding-bottom: 0.4em;
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
    text-align: center;
    margin-left: 100px;
}
.ion-padding {
    margin-left: 0px;
}

#titulo {
font-size: 40px;
font-family: Papyrus;

}

.cuerpo {
text-align: center;



}

#defecto {
margin-left: 130px;
}
ion-list{
    --ion-background-color:#90EE90;
    
    opacity: 0.8;
    
   
    
 }
ion-item{
    --ion-background-color:#ADD8E6;
    opacity:0.8 ;
    
 }
 ion-content {
    --background: url('/assets/fondo.jpg') no-repeat ;}