ion-content {
    --background: url('/assets/fondo.jpg') no-repeat ;}

#spinner {
    margin-left: 110px;
}

a { text-decoration: none;  }

#titulo {
    
    font-family: 'Papyrus';
    
}
#contenedor {
    background-color: #ADD8E6;
    opacity:0.8 ;
}

#imagen {
    text-align: center;
}

ion-item{
    --ion-background-color:#90EE90;
 }
