<ion-header>
  <ion-toolbar>
    <ion-title class="title" id="titulo">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center id="imagen">
        <img src="../assets/logo2.svg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list id="contenedor">
    <ion-item>
      <ion-label text-center position="floating" class="text">Correo electrónico</ion-label>
      <ion-input text-center clearInput class="text" [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-center position="floating" class="text">Contraseña</ion-label>
      <ion-input text-center class="text" type="password" [(ngModel)]="password">
      </ion-input>
    </ion-item>
  </ion-list>


  <ion-button
    expand="block"
    class="text capitalize"
    color="secondary"
    shape="round"
    (click)="login()">
    Aceptar
  </ion-button>

  <div id="spinner">
  <ion-spinner class="bubbles" *ngIf="spinner == true"></ion-spinner>
  </div>

  <br>
  <div class="center">
    <a class="text" href="/register">
      <ion-icon name="person-add"></ion-icon>
      Crear una cuenta
    </a>
    <br>
    <a class="text" href="/recover-password">
      <ion-icon name="mail"></ion-icon>
      Recuperar contraseña
    </a>
  </div>
</ion-content>

