#spinner {
    margin-left: 95px;
}

#foto {
    margin-left: 95px;
}

#contenedor {
    background-color: #ADD8E6;
    opacity:0.8;
}

#item {
    background-color: #ADD8E6;

}
ion-item{
    --ion-background-color:#90EE90;
    opacity:0.8 ;
    
 }

ion-content {
    --background: url('/assets/fondo.jpg') no-repeat ;}


